.all-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}
.box {
  box-shadow: 0 0 3px -1px #6b6b6b;
  border-radius: 5px;
}
.box__heading {
  text-align: center;
  font-size: 22px;
  border-bottom: 1px solid #cacaca;
  padding: 10px 0;
  margin: 0;
}
.box__items {
  list-style-type: none;
  padding: 10px 20px;
  margin: 0;
  min-height: 100px;
}
.box__item {
  margin: 10px 0;
  line-height: 1.2;
}
.all-categories-heading {
  text-align: center;
  margin: 40px auto;
  border-top: 1px solid;
  border-bottom: 1px solid;
  max-width: 500px;
  font-size: 30px;
  font-weight: 500;
}
.other-types {
  display: flex;
  justify-content: space-around;
}
.other-types .box {
  max-width: 350px;
  width: 100%;
}
h1 {
  display: none;
}
hr {
  margin: 40px 0;
}
@media (max-width: 1024px) {
  .all-categories {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
@media (max-width: 767px) {
  .all-categories {
    grid-template-columns: repeat(1, 1fr);
  }
  .other-types {
    flex-direction: column;
    gap: 20px;
  }
  .other-types .box {
    max-width: none;
  }
}
